/* src/assets/ItemDetail.css */

.ItemDetail {
    padding: 20px;
    background-color: #f9f9f9;
}

.ItemDetail h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.ItemDetail p {
    margin: 5px 0;
}

.ItemDetail a {
    color: blue;
    text-decoration: underline;
}

.HotDealItem .delivery {
    white-space: nowrap;
    /* 내용을 줄 바꿈 없이 한 줄로 표시 */
    overflow: hidden;
    /* 내용이 너무 길면 숨김 */
    text-overflow: ellipsis;
    /* 내용이 넘칠 때 말줄임표로 표시 */
    max-width: 200px;
    /* 최대 너비 설정 */
}